<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('bundles/carnetadressesapp/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <title>{% block title %}CarnetApp{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_profile_show') }}" class="navbar-brand">Accueil</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" class="navbar-brand">Accueil</a>
                    {% endif %}
                </div>
                {% block menubar %}
                    {# Ajouter les liens vers les autres pages en fonction de la page où l'on se trouve #}

                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        {% endif %}
                    </ul>
                {% endblock %}
            </div>
        </nav>

        {% block body %}{% endblock %}

        <hr>

        <footer class="container">
            <p class="text-right">
                © Brondon UNG 2014-2015
            </p>
        </footer>

    {% block scripts %}{% endblock %}
    </body>
</html>